
body {
  
  /* color: ; */
  background-color:  #FFFFFF;
  /* font: normal 14px/1 "Trebuchet MS", Helvetica, sans-serif;  */
  
  font-family: 'Fira Mono';
  font-size: 14px;
 
}

textarea {
       resize: none;
       /* border-radius: 7px; */
       /* background-color: #DCDCDC; */
       /* background-color: #000000; */
       /* color: #00FF00; */
       /* padding: 15px; */
       /* border: 1px solid #000000; */
       border: none;
       /* font-weight: 400; */
       /* font-size: 16px; */
       /* font: normal 14px/1 "Trebuchet MS", Helvetica, sans-serif; */
       /* opacity:0.6; */
       /* text-transform:uppercase; */
       
    }

div.insert { /* MESSAGE SENT */
  color: green;
  width: 775px;
  font-size: 12px;
  /* background-color: #FFFFFF; */
  /* width:400px; */
  /* margin: auto; */
  /* border: 3px solid #73AD21; */
}

div.chat99 {
  /* position: relative; */
  /* left: 200px; */
  /* color: #808B96; */
  width: 800px;
  height: 500px;
  overflow-y: scroll;
  /* font-size: 14px; */
  /* background-color:  #D5D8DC; cinza escuro */
}

div.txt99 {
  /* position: relative; */
  /* left: 200px; */
  /* color: #808B96; */
  width: 800px;
  height: 500px;
  overflow-y: scroll;
  /* background-color:  #D5D8DC; cinza escuro */
}

div.resdia {
  /* position: relative; */
  /* left: 200px; */
  /* color: #808B96; */
  width: 800px;
  height:400px;
  overflow-y: scroll;
  /* background-color:  #D5D8DC; cinza escuro */
}

div.chatyid {
  position: relative;
  left: 200px;
  /* width: 700px; */
  /* height: 100px; */
  /* font-size: 18px; */
}

div.time {
  
  font-size: 26px;
  color: #BFC9CA;
}

div.counter {
  /* position: relative; */
}


table.cy_chat {
  /* border: 0px solid #144464; */
  /* width: 800px; */
 /*  width: 98%; */
  /* color: black; */
  /* background-color: #34495E;  cor chumbo */
  /* font-size: 14px; */
}

table.cy_chat td#tdUm {
  text-align: center;
  background-color: #ABEBC6; /* verde */
  height: 30px;
  /* color: blue; */
}

table.cy_chat td#tdDois {
  text-align: center;
  background-color: #FCF3CF; /* amarelo */
  height: 30px;
  vertical-align: middle;
  /* color: blue; */
}

table.cy_chat td#tdTres {
  text-align: center;
  background-color: #ABEBC6; /* verde */
  height: 30px;
  /* color: blue; */
}

table.cy_chat td#tdQuatro {
  text-align: center;
  background-color: #FCF3CF; /* amarelo */
  height: 30px;
  vertical-align: middle;
  /* color: blue; */
}

/* TABELA OUT_CHAT */

table.out_chat {
  /* border: 0px solid #144464; */
 width: 775px;
 /* width: 98%; */
  /* color: black; */
  /* background-color: #34495E;  cor chumbo */
  font-size: 12px;
}

table.out_chat th#th_usery {
  text-align: left;
  width: 50px;
  /* color: green; */
}

table.out_chat th#th_user_name {
  text-align: left;
  width: 250px;
  /* color: green; */
}

table.out_chat th#th_ipy {
  text-align: right;
  width: 150px;
  color: green;
}

table.out_chat th#th_timy {
  text-align: right;
  width: 200px;
  color: green;
}

table.out_chat th#th_daty {
  text-align: right;
  width: 175px;
  color: green;
}

table.out_chat td#td_mezy {
  text-align: left;
  color: blue;
}


input.nick1 {
  /* text-transform:uppercase; */
  
}




