div.saida1 {
  position: relative;
  /* top: 0px; */
  left: 200px;
  /* text-transform:uppercase; */
  overflow-y: scroll;
  width: 700px;
  height: 300px;
}

div.saida2 {
  position: relative;
  left: 200px;
  width: 700px;
  height: 100px;
}



table.out1 {
  
  font-size: 14px;
  border: none;
  width: 650px;
  /* cellspacing: 0; */
  /* cellpadding: 0; */
  /* color: #BFC9CA; */
}

table.out2 {
  
  font-size: 14px;
  border: none;
  width: 650px;
  /* cellspacing: 0; */
  /* cellpadding: 0; */
  color: red;
}

div.intervalo {
  /* color: green; */
  /* background-color: #FFFFFF; */
  /* width:400px; */
  /* margin: auto; */
  /* border: 3px solid #73AD21; */
}





